<p>Hi <%= user.displayName %>,</p><p>It seems it is your first time logging in to system 
using your <%= user.provider %> account. Please fill up the form bellow to proceed. 
If you are already a user on system then use the same email address you used during 
your registration so we can refer your login to your account. </p>
<div id="registerbox">
	<form action="/verify/process" method="post" accept-charset="utf-8" class="register-form">
        <input type="hidden" name="ci_csrf_token" value="3fbf1e69dd2fb7ce13be91b3d594e1e6" />
        <div class="row">
            <div class="text">
                <label>Username</label>
                <input id="name" name="username" value="<%= user.username? user.username:'' %>" type="text">
            </div>
        </div>
        <div class="row">
            <div class="text">
                <label>email</label>
                <input id="email" name="email" value="<%= user.email? user.email:'' %>" type="text">
            </div>
        </div>
        <div class="row">
            <div class="text">
                <label>Pass</label>
                <input id="password2" name="password" value="" type="password">
            </div>
        </div>
        <div class="row">
            <div class="text">
                <label>Confirm pass</label>
                <input id="password3" name="passconf" value="" type="password">
            </div>
        </div>
        <input class="reg-submit" name="submit" value="Submit" type="submit">
    </form>
</div>